.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #000;
  width: 100%;
  text-align: center;
  // margin:0 0 100px 0;
  padding: 100px 0px;
  min-height: 100vh;
  &-row {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-size: 35px;
    // text-shadow: 0 0 10px #fff;
  }
  p {
    font-size: 20px;
    // text-shadow: 0 0 10px #fff;
    position: relative;
  }
  img {
    width: 100%;
    border-radius: 20px;
  }
  &__img-cover {
    overflow: hidden;
    width: 350px;
    height: 350px;
    // background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #000;
    box-shadow: 0px 0px 90px -10px #000;
    transition: all 0.3s ease;
    animation: showPulse 5.5s linear infinite;
    &:hover {
      box-shadow: 0px 0px 90px -20px #000;
    }
  }
  &__icon {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 0.3s ease;
    animation: moveDown 2s ease infinite;
  }
}

@keyframes moveDown {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    transform: translateX(-50%) translateY(10px);
  }
}

@keyframes showPulse {
  0% {
    box-shadow: 0px 0px 0px 0px #000;
  }
  50% {
    box-shadow: 0px 10px 50px 0px #000;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #000;
  }
}
